body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.7;
}

.container {
  position: relative;
}

a, a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant Garamond", serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.1rem;
}

.bg-gray {
  background: #e6e6e6;
}

.text-gray {
  color: rgba(0, 0, 0, 0.3);
}

.text-orange {
  color: #ff896b;
}

.text-small {
  font-size: 0.8rem;
}

.font-size-12 {
  font-size: 12px !important;
}

.container-own {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.title-border {
  display: block;
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
}

.title-border h2::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  content: "";
  width: 50px;
  height: 1px;
  background: #000;
}

.title-border-left h2::after {
  left: 0;
  transform: translateX(0);
}

.carousel-item {
  height: 100vh;
  width: 100%;
}

.mt-7rem {
  margin-top: 7rem;
}

.my-7rem {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.mb-7rem {
  margin-bottom: 7rem;
}

.mt-5rem {
  margin-top: 5rem;
}

.mb-5rem {
  margin-bottom: 5rem;
}

.mb-3rem {
  margin-bottom: 3rem;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.pt-6rem {
  padding-top: 6rem;
}

.pb-3rem {
  padding-bottom: 3rem;
}

.py-6rem {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.pt-40 {
  padding-top: 40px;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pt-50 {
  padding-top: 50px !important;
}

.py-50 {
  padding-bottom: 60px;
  padding-top: 40px;
}

.pl-50 {
  padding-left: 50px;
}

.ml-50px {
  margin-left: 50px;
}

.mr-50px {
  margin-right: 50px;
}

.mr-100 {
  margin-right: -100%;
}

.ml-100 {
  margin-left: -100%;
}

.mt-30p {
  margin-top: 30%;
}

.mt-m60 {
  margin-top: -60px;
}

.letter-spacing {
  letter-spacing: 0.05rem;
}

.letter-spacing-bigger {
  letter-spacing: 0.1rem;
}

.d-grid {
  display: grid;
}

.icon-circle {
  height: 30px;
  width: 30px;
  border-radius: 100px;
  display: grid;
  align-items: center;
  justify-items: center;
  background: #000;
}
.icon-circle .fa-instagram, .icon-circle .fa-facebook-f, .icon-circle .fa-twitter {
  color: #fff;
}

.icon-circle:hover {
  border: 1px solid black;
  background: #fff;
}
.icon-circle:hover .fa-instagram, .icon-circle:hover .fa-facebook-f, .icon-circle:hover .fa-twitter {
  color: #000;
}

.carousel-item.active {
  display: grid;
  align-content: center;
  justify-content: center;
}
.carousel-item.active .carousel-caption {
  position: relative;
  right: 0 !important;
  left: 0 !important;
}

.carousel-indicators {
  margin-bottom: 8vh;
}
.carousel-indicators li {
  width: 6px;
  height: 6px;
}

.suite-wrap {
  width: 100%;
}
.suite-wrap .suite {
  width: 60%;
  min-width: 60%;
  float: left;
  position: relative;
  display: block;
}
.suite-wrap .suite .img-top {
  width: 55%;
  z-index: 10;
  position: relative;
}
.suite-wrap .suite .img-top img {
  width: 100%;
}
.suite-wrap .suite .img-bottom {
  width: 75%;
  position: relative;
}
.suite-wrap .suite .img-bottom img {
  width: 100%;
}
.suite-wrap .suite-content {
  width: 30%;
  float: left;
}
.suite-wrap .suite-content h1 {
  margin-bottom: 30px;
}
.suite-wrap .suite-content .details-link {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 10px;
}

.suite-wrap::after {
  content: "";
  display: table;
  clear: both;
}

.card-item .card-icon {
  width: 50px;
}
.card-item .card-text {
  letter-spacing: 0.1rem;
}

.readmore-link {
  position: relative;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 10px;
  padding-bottom: 10px;
}

.readmore-link:hover {
  text-decoration: none;
  color: #000;
}

.emphasized::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  transition: 0.5s all ease;
}

.emphasized:hover::after {
  width: 0px;
  transition: 0.5s all ease;
}

.unemphasized::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 0px;
  height: 1px;
  background: #000;
  transition: 0.5s all ease;
}

.emphasized-white::after, .unemphasized-white::after {
  background: #fff;
}

#navbar {
  z-index: 1000;
  position: sticky;
  top: 0;
  width: 100%;
  color: #fff;
}

.navbar-scrolled {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  color: #000;
  transition-duration: 0.5s;
  animation-name: navbar-scrolled;
  animation-timing-function: ease;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes navbar-scrolled {
  0% {
    background: rgba(255, 255, 255, 0);
    height: 0;
    margin-bottom: 0;
  }
  80% {
    background: #fff;
    height: 100px;
    margin-bottom: -100px;
  }
  100% {
    background: #fff;
    height: 70px;
    margin-bottom: -70px;
  }
}
.navbar-unscrolled {
  box-shadow: none;
  color: #fff;
  transition-duration: 0.5s;
  animation-name: navbar-unscrolled;
  animation-timing-function: ease;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes navbar-unscrolled {
  0% {
    background: #fff;
    height: 70px;
    margin-bottom: -70px;
  }
  20% {
    background: #fff;
    height: 100px;
    margin-bottom: -100px;
  }
  100% {
    background: rgba(255, 255, 255, 0);
    height: 0px;
    margin-bottom: 0px;
  }
}
ul.nav-items {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  z-index: 1;
}
ul.nav-items li a, ul.nav-items li a:hover {
  color: white;
  text-decoration: none;
}

.nav-brand {
  position: absolute;
  left: 0;
  font-size: 1.2rem;
  font-weight: 700;
}
.nav-brand a {
  color: white;
}

.nav-social {
  position: absolute;
  right: 0;
  z-index: 10;
}

.unemphasized:hover::after {
  width: 100%;
  transition: 0.5s all ease;
}

.highlighted {
  position: relative;
  z-index: 10;
}

.highlighted::after {
  content: "";
  height: 50%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #ff896b;
  z-index: -1;
}

.card-item:hover {
  border: 1px solid black !important;
}

footer {
  font-size: 0.9rem;
}

footer a {
  color: rgba(0, 0, 0, 0.7);
}

footer a:hover {
  text-decoration: none;
  color: #000;
}

.footer-form-input {
  border-radius: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-form-btn {
  background: #000;
  color: white;
  border: 0px;
  font-weight: 700;
  letter-spacing: 0.1;
  padding-left: 20px;
  padding-right: 20px;
}

.icon-circle-2x {
  height: 45px;
  width: 45px;
}

.list-style-none {
  padding: 0;
  list-style-type: none;
}

#carousel1, #carousel2, #carousel3 {
  background-size: cover;
  background-position: center center;
}

#carousel1 {
  background: no-repeat url("../images/carousel/1.jpg");
}

#carousel2 {
  background: no-repeat url("../images/carousel/2.jpg");
}

#carousel3 {
  background: no-repeat url("../images/carousel/3.jpg");
}

@media (min-width: 1200px) {
  .container-own {
    max-width: 1600px;
  }
}
.before-animation {
  opacity: 0;
  padding-top: 200px;
}

.animate {
  opacity: 1;
  padding-top: 0px;
  transition-timing-function: ease;
  transition-duration: 1.5s;
}

.carousel-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}

.animate-caption {
  opacity: 0;
  animation-name: animate-caption;
  animation-delay: 800ms;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes animate-caption {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
#rooms-homepage {
  height: 100vh;
  width: 100%;
  background: url("../images/other/img_2.jpg");
}

.room-image-wrapper {
  position: relative;
  overflow: hidden;
}

.room-image {
  height: 100%;
  width: 100%;
}

.room-image-1 {
  background: no-repeat url("../images/gallery/room_1_a.jpg");
}

.room-image-2 {
  background: no-repeat url("../images/gallery/room_2_b.jpg");
}

.room-image-1, .room-image-2 {
  background-size: cover;
  background-position: center center;
  transition-duration: 1.5s;
  transition-delay: 2s;
  transition-timing-function: ease;
}

.price {
  font-size: 1.8rem;
}

.tick-list {
  list-style-type: none;
}
.tick-list li::before {
  content: "<i class=" fas fa-check "></i>";
  color: #000;
}

#amenities-homepage {
  height: 100vh;
  width: 100%;
  background: url("../images/other/img_2.jpg");
}

#about-homepage {
  height: 100vh;
  width: 100%;
  color: black;
  background: #f8f9fa;
}

.fs-5rem {
  font-size: 5rem;
}

.fs-1dot5rem {
  font-size: 1.5rem;
}

.br-0 {
  border-radius: 0;
}

.btn-form-contact {
  background: #000;
  color: white;
  font-weight: 700;
  border: 0px;
  padding: 10px 50px;
}

#gallery-homepage {
  height: 100vh;
  width: 100%;
  background: url("../images/other/img_2.jpg");
}

#gallery-carousel {
  height: 100vh !important;
  width: 100%;
  position: relative;
  margin-left: 0 !important;
  margin-right: 0 !important;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main-carousel {
  height: 100vh !important;
  padding: 0 !important;
  position: relative;
}

.minor-carousel {
  height: 86vh !important;
  padding-top: 11vh;
  padding-right: 0 !important;
  position: relative;
}

.minor-carousel-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(255, 255, 255, 0.8);
  transition-duration: 1s;
  transition-timing-function: ease;
}

#block-for-slider-minor:hover .minor-carousel-bg {
  background: rgba(255, 255, 255, 0.5);
}

#block-for-slider, #block-for-slider-minor {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}

#viewport {
  width: 100%;
  height: 100%;
  position: relative;
  content: "";
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 45px;
}

#slidewrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  padding: 0;
}

#slidewrapper-clone {
  position: relative;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  padding: 0;
}

.w-50 {
  width: 1500px;
}

.slide-img {
  width: 100%;
  margin-left: 0px;
}

#slidewrapper li, #slidewrapper-clone li {
  display: inline;
  height: 100%;
  width: 33.3333333333% !important;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  transition: 1s;
  transition-timing-function: ease-in-out;
}

.slide-img {
  width: 100%;
}

.bg-room-1a, .bg-room-1b, .bg-room-2a, .bg-room-2b {
  width: 100%;
  height: 100%;
}

.bg-room-1a {
  background: url("../images/gallery/room_1_a.jpg");
}

.bg-room-1b {
  background: url("../images/gallery/room_1_b.jpg");
}

.bg-room-2a {
  background: url("../images/gallery/room_2_a.jpg");
}

.bg-room-2b {
  background: url("../images/gallery/room_2_b.jpg");
}

.bg-room-1a, .bg-room-1b, .bg-room-2a, .bg-room-2b {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-room-1a-clone, .bg-room-1b-clone, .bg-room-2a-clone, .bg-room-2b-clone {
  width: 100%;
  height: 100%;
}

.bg-room-1a-clone {
  background: url("../images/gallery/room_1_a.jpg");
}

.bg-room-1b-clone {
  background: url("../images/gallery/room_1_b.jpg");
}

.bg-room-2a-clone {
  background: url("../images/gallery/room_2_a.jpg");
}

.bg-room-2b-clone {
  background: url("../images/gallery/room_2_b.jpg");
}

.bg-room-1a-clone, .bg-room-1b-clone, .bg-room-2a-clone, .bg-room-2b-clone {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#prev-next-btns {
  position: absolute;
  bottom: 0;
  content: "";
  z-index: 100;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#prev-btn, #next-btn {
  height: 45px;
  width: 45px;
  background: #fff;
  display: grid;
  float: left;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border: none;
}

#prev-btn:active, #next-btn:active {
  border: 0px;
}

#carousel-counter {
  position: absolute;
  bottom: 45px;
  left: 0;
  background: #fff;
  padding: 15px 55px;
}