body {
  line-height: 1.7rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant Garamond", serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.1rem;
}

.text-gray {
  color: rgba(0, 0, 0, 0.3);
}

.text-orange {
  color: #ff896b;
}

.text-small {
  font-size: 0.8rem;
}

.container-own {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.title-border {
  display: block;
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
}

.title-border h2::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  content: "";
  width: 50px;
  height: 1px;
  background: #000;
}

.title-border-left h2::after {
  left: 0;
  transform: translateX(0);
}

.carousel-item {
  height: 100vh;
  width: 100%;
}

.my-7rem {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.py-6rem {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.pt-40 {
  padding-top: 40px;
}

.pb-60 {
  padding-bottom: 60px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.py-50 {
  padding-bottom: 60px;
  padding-top: 40px;
}

.ml-50px {
  margin-left: 50px;
}

.mr-50px {
  margin-right: 50px;
}

.mr-100 {
  margin-right: -100%;
}

.ml-100 {
  margin-left: -100%;
}

.mt-30p {
  margin-top: 30%;
}

.d-grid {
  display: grid;
}

.carousel-item.active {
  display: grid;
  align-content: center;
  justify-content: center;
}
.carousel-item.active .carousel-caption {
  position: relative;
  right: 0 !important;
  left: 0 !important;
}

.carousel-indicators {
  margin-bottom: 8vh;
}
.carousel-indicators li {
  width: 6px;
  height: 6px;
}

.suite-wrap {
  width: 100%;
}
.suite-wrap .suite {
  width: 60%;
  min-width: 60%;
  float: left;
  position: relative;
  display: block;
}
.suite-wrap .suite .img-top {
  width: 55%;
  z-index: 10;
  position: relative;
}
.suite-wrap .suite .img-top img {
  width: 100%;
}
.suite-wrap .suite .img-bottom {
  width: 75%;
  position: relative;
}
.suite-wrap .suite .img-bottom img {
  width: 100%;
}
.suite-wrap .suite-content {
  width: 30%;
  float: left;
}
.suite-wrap .suite-content h1 {
  margin-bottom: 30px;
}
.suite-wrap .suite-content .details-link {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 10px;
}

.suite-wrap::after {
  content: "";
  display: table;
  clear: both;
}

.card-item .card-icon {
  width: 50px;
}
.card-item .card-text {
  letter-spacing: 0.1rem;
}

.readmore-link {
  position: relative;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 10px;
  padding-bottom: 10px;
}

.readmore-link:hover {
  text-decoration: none;
  color: #000;
}

.emphasized::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  transition: 0.5s all ease;
}

.emphasized:hover::after {
  width: 0px;
  transition: 0.5s all ease;
}

.unemphasized::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 0px;
  height: 1px;
  background: #000;
  transition: 0.5s all ease;
}

.unemphasized:hover::after {
  width: 100%;
  transition: 0.5s all ease;
}

.card-item:hover {
  border: 1px solid black !important;
}

#carousel1, #carousel2, #carousel3 {
  background-size: cover;
  background-position: center center;
}

#carousel1 {
  background: no-repeat url("../images/carousel/1.jpg");
}

#carousel2 {
  background: no-repeat url("../images/carousel/2.jpg");
}

#carousel3 {
  background: no-repeat url("../images/carousel/3.jpg");
}

@media (min-width: 1200px) {
  .container-own {
    max-width: 1440px;
  }
}